*
{
    margin: 0;
    font-family: sans-serif;
}
.head
{
    position: absolute;
    margin-top: -600px;
    margin-left: 200px;
}
hr
{
    margin-top: -45px;
    color: rgba(171, 165, 165, 0.313);
}
.se
{
    margin-top: -10px;
    position: relative;
}
.head1
{
    display: none;
}
.kalyannone
{
    display: none;
}
.noneall
{
    display: none;
}
.flexh1
{
    display: flex;
    margin-left: 100px;
    gap: 200px;
    margin-top: 50px;
}
.numbercolor
{
    background-color: #9B51E0;
    border-radius: 50%;
    text-align: center;
    color: white;
    width: 10%;
    padding: 8px;
}
.howit
{
    text-align: center;
    margin-top: 100px;
}
.fivephoto
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.photo
{
    background-color: rgb(255, 255, 255);
    height: 270px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px;
}
.photo1
{
    margin-left: 50px;
    margin-top: 40px;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 50%;
    border: 3px solid orange;
    padding: 1px;
}
.backimg
{
    background-image: url(./e274bfc38a038c5a06c877cceca0ad9f\ 6.png);
    background-repeat: no-repeat;
    background-position: center;
}
.ninephoto
{
    display: flex;
    margin-left: 500px;
    gap: 50px;
    margin-top: 20px;
}
.photo2
{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 10px 0px;
}
.photos
{
    margin-left: 40px;
    margin-top: 20px;
}
.backwhite
{
    background-color: white;
    box-shadow: 0px 0px 5px 0px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 150px;
    margin-left: 15px;
}
.textback
{
    margin-left: 100px;
    font-size: 25px;
    margin-top: 50px;
    position: absolute;
}
.virusimg
{
    margin-left: 200px;
    margin-top: 100px;
}
.tugma
{
    background-color: orange;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 700px;
    font-size: 20px;
    margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
}
.whyflex
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.flexdiv
{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.imghh
{
    display: flex;
    justify-content: space-around;
}


@media (max-width:510px) 
{
    .kalyannone
    {
        display: block;
    }
    .wid
    {
        width: 390px;
    }
    .kalyannone1
    {
        display: none;
    }
    .head1
    {
        display: block;
    }
    .head11
    {
        width: 80px;
        margin-top: -500px;
        position: absolute;
    }
    .noneall
    {
        display: block;
    }
    .buton
    {
        background-color: fuchsia;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        width: 150px;
        font-size: 12px;
        position: absolute;
        margin-top: -530px;
        margin-left: 100px;
        color: white;
    }
    .grey
    {
        background-color: grey;
        border-radius: 5px;
        padding: 5px;
        width: 100px;
        text-align: center;
        color: white;
        position: absolute;
        margin-top: -530px;
        margin-left: 270px;
    }
    .textnone
    {
        position: absolute;
        margin-top: -470px;
        color: white;
        margin-left: 170px;
    }
    .buton1
    {
        background-color: orange;
        color: white;
        text-align: center;
    }
    .hookan
    {
        color: white;

    }
    .texthookan
    {
        color: white;
        font-size: 13px;
    }
    .divtextnone
    {
        position: absolute;
        margin-top: -350px;
        margin-left: 20px;
    }
    .flexh1
    {
        display: block;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        margin-left: 40px;
    }
    .fivephoto
    {
       margin-left: 100px;
       display: flex;
       flex-direction: column;
       row-gap: 20px;
    }
    .ninephoto
    {
        
        display: flex;
        flex-wrap: wrap;
    }
    .backimg
    {
        display: none;
    }
    .tugma
    {
        display: none;
    }
    .virus
    {
        width: 400px;
    }
    .virusimg
    {
        margin-left: -10px;
        margin-top: -80px;

    }
    .whyflex
    {
        display: block;
        margin-left: 50px;
    }
}